In [23]:
import pandas as pd
import pyarrow
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'1.2.4'

In [4]:
df = pd.read_parquet("taxi_data.parquet",engine='pyarrow')

In [9]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
df

In [10]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [22]:
t_start = time()
df.to_sql(name="yellow_taxi_data",
                    con=engine,if_exists='replace',
                    chunksize=150000)
t_end = time()
print("Insert took %.3f" % (t_end - t_start))

NameError: name 'time' is not defined